.venv/
data/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.xlsx
*.json
*.env
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar
*.tar.lz
*.tar.lzo
*.tar.lzma
*.tar.lzop  
.env
*.venv
*.DS_Store
.idea/
.vscode/
scripts/scraping_session.session